:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097A7;
  --gris: #757575;
  --grisClaro: #DFE9F3;
  --fuente-principal: 3.8rem;
}


.Title{
  font-family: Arial, sans-serif;
  font-size: 30px; 
  text-align: center;
  background-color: var(--grisClaro);
}

.container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--gris);
}

.button{
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;

}